<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EmployeeDB" connectionString="Server=LAPTOP-UFD8B79E\MSSQLSERVER01;Database=EmployeeDB;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>